.container{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.8);
}
.form{
  width: 400px;
  background: #6f1ead;
  margin: 50px auto;
  overflow-y: scroll;
}
.nav .btn{
  width: 50%;
  padding: 10px;
}
.nav .btn.active{
  background: darkcyan;
  font-weight: bolder;
  color: gold;
}
.form-group{
  display: flex;
  padding: 10px;
  width: 100%;
}
.form-group select{
  flex: 1;
}
.form-group select:first-child{
  margin-right: 10px;
}
.data{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.checkbox{
  width: 100%;
  text-align: left;
  padding: 20px;
}
