<div class="panel">
    <div class="panel-header">
      <h1>{{time}}</h1>
      <button *ngIf="!isOpen" (click)="openConsult()">Начать</button>
      <button *ngIf="isOpen" (click)="addStudent()">Добавить студента</button>
    </div>
    <div class="panel-body">
      <table>
        <tr>
          <th>Имя</th>
          <th>Группа</th>
          <th>Событие</th>
        </tr>
        <ng-container *ngIf="students.length > 0">
          <tr *ngFor="let student of students">
            <td>{{student.name}} {{student.surname}}</td>
            <td>{{student.group}}</td>
            <td>
              <button (click)="dellStudent(student.id)">X</button></td>
          </tr>
        </ng-container>
      </table>
      <div class="close">
        <button *ngIf="isOpen" (click)="closeConsult()">Закрыть консультацию</button>
      </div>
    </div>
</div>

<app-preloader [visible]="loading"></app-preloader>

<app-addstudent (loading)="onLoadingChange($event)"
                (close)="addingStudent = false"
                (onAdd)="takeConsult()"
                *ngIf="addingStudent"></app-addstudent>

