.panel{
  background: #efefef;
  padding: 20px;
}
.panel>.panel-header{
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 4px dashed brown;
}
.panel-body>table{
    width: 100%;
  table-layout: fixed;
}
.close{
  display: flex;
  justify-content: flex-end;
}
.panel-body>table tr:first-child{
  background: darkcyan;
}
.panel-body>table tr:nth-child(even):not(:first-child){
  background: #f1d796;
}
td, th{
  padding: 20px;
  text-align: center;
}
